body {
  /*background-color: #aaa;*/
  background-color: #a88c74;
}
.container {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  /*background-color: #f7f7f7;*/
  background-color: #e2dad2;
}
.rounded {
  border: 2px solid #999;
  border-radius: 5px;  
}
.rounded-bottom {
  border-top: none;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pull-down {
    vertical-align: bottom;
}
span.larger {
    font-size: 2em;
}
.scrollspy a {
  /*color: #777;*/
  color: #514032;
}
.scrollspy > .nav .active {
  font-weight: bold;
}

.scrollspy > .nav .nav {
  display: none;
}

.scrollspy > .nav .active .nav {
  display: block;
}

.scrollspy > .nav .nav a {
  margin-left: 10px;
  font-weight: normal;
  font-size: .85em;
  /*color: #777;*/
  color: #514032;
}

.scrollspy > .nav .nav span {
  margin: 0 5px 0 2px;
}

.scrollspy > .nav .nav .active a,
.scrollspy > .nav .nav .active:hover a,
.scrollspy > .nav .nav .active:focus a {
  font-weight: bold;
  /*padding-left: 30px;*/
  border-left: 5px solid black;
  margin-left:5px;
}

.scrollspy > .nav .nav .active span,
.scrollspy > .nav .nav .active:hover span,
.scrollspy > .nav .nav .active:focus span {
  display: none;
}

.affix-top {
  position: relative;
}

.affix {
  top: 20px;
}

.affix, 
.affix-bottom {
    width: 213px;
}

.affix-bottom {
  position: absolute;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
span,
p,
body {
  color: #514032;
}
