---
layout: default
title: {{ site.name }}
---
<div class="row">
    <div class="col-md-3 scrollspy">
        {% include_relative menu.html %}
    </div>
    <div class="col-md-9">
        <section id="intro">
            <div class="row">
                <h3>Nana's Diary</h3>
                <p>
                    My great-grandmother, <a href="http://www.gdcooke.org/SS/default.aspx/page/org2-o/p146.htm">Mary Elizabeth Robinson</a>, kept a diary during two cross-country trips she took in 1927-28 and 1932-33. Later, it appears for a few years she made a new years’ resolution to keep a journal, but never continued it for long. It was kept in a Standard Diary for 1928, a small hardbound volume measuring about 3”X6” that was titled "Daily Reminder" on the front cover. She also made some lists of the various books she read. For some of these, I had to resort to the internet to decipher some of the titles and author’s names. I was not entirely successful, but most could be found.
                </p>
                <p>
                    The dates at the top of each page are crossed out, and she wrote her own dates in the text, usually on a line by themselves. In the transcription that follows, I’ve used the diary date in the left column to identify the page the text is from. The second column has the actual date of entry. Some text flows to the next page, but to make it easier to read I don’t indicate the next page until the next date entry.
                </p>
                <p>
                    There are a few entries, especially during the trips, that appeared to be entered later, after the fact. In a couple of cases, she left space intending to come back later (she didn’t, though) to fill in the name of the movie she just saw or person she just met. I’ve marked those as “[blank]”. “[Missing]” is used when the pages were torn out, probably for scrap paper. “[blank]” is also used to indicate blank pages. Although I’ve gotten pretty good at reading her writing, there are some words I still cannot decipher. “[unreadable]” marks those. Her spelling was fairly good, but movie is always “movey” and first is usually "ferst". There are a couple others I’m sure you’ll notice.
                </p>
                <p>
                    I hope you will find as I did, a new appreciation for Mary and the trials of her life. She was, as most people are, a complex woman of her time. She was well-read, appreciated the arts, and could play the piano, cook, sew, garden, and keep house. She was adventurous, unafraid of whatever lay in store for her, but constantly worried about the welfare of her children and grandchildren. She hated reading Hattie’s diaries, even as she was writing her own. She wrote of the trials of the bank holidays in 1933, the struggles to find work, and the constant battle to keep food on the table in the depths of the depression. Her list of books is also revealing, and one of the more interesting titles is Dusty Answers. You can look that one up on the internet and draw your own conclusions.
                </p>
                <p>
                    Recently, my mother wrote this about her:
                </p>
                <p>
                    "What I remember most about my Grandmother, is her love of all the arts-music, literature, painting &amp; sculpture. She passed that on to me by reading to me; playing the piano to me; showing me pictures in books. She gave me a scrapbook, in which were pictures of paintings. She would then send me more by mail so I could paste them in. She did awaken my love of all things beautiful in this world. At least she had a wonderful time enjoying it all on those trips. She wasn't able to do it again unfortunately. Life grew harder-never enough money!
                </p>
                <p>
                    "In her old age, she had her radio right beside her big chair and could listen all day to all the music she loved!
                </p>
                <p>
                    These are some of the things that I remember with such love and affection for her."
                </p>
                <p>
                    Mary wrote a short introduction and included Winds of Fate by Ella Wheeler Wilcox.
                </p>
            </div>
        </section>
        {% include_relative trip1.html %}
        {% include_relative home.html %}
        {% include_relative trip2.html %}
    </div>
</div>