<section id="trip1">
    <div class="row">
        <h3>Trip 2: August 6, 1932 - March 19, 1933</h3>
    </div>
</section>
<section id="trip2">
</section>
{% assign nanaDiary = site.diaries | where_exp:"item","item.diary == 'nana'" | where_exp:"item","item.section contains 'trip2'" | group_by:"section" %}

{% for day in nanaDiary %}
<section id="{{day.name}}">
{% for entry in day.items %}
    <div class="row">
        <div class="col-xs-12 col-md-2" title="{{entry.originalDate}}">{{entry.date | date: "%b %d-%Y"}}{% if entry.dateSuffix %} {{entry.dateSuffix}}{% endif %}</div>
        <div class="col-xs-12 col-md-10">
            {{entry.output}}
        </div>
    </div>
{% endfor %}
</section>
{% endfor %}
  